.homeEmployeeGrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	gap: 1rem;
	width: 100%;
}

@media (max-width: 768px) {
	.homeEmployeeGrid {
		grid-template-columns: 1fr;
	}
}
